<h2>Schedule an appointment</h2>

<form action="/appointment/new" method="post">
  <label for="appointment_date">Appointment Date: </label>
  <input type="datetime" name="appointment_date" id="appointment_date" required>

  <select name="client_id">
    @foreach (var Client in Model)
    {
      <option value ="@Client.GetId()">@Client.GetName()</option>
    }
  </select>

  <label for="appointment_duration">How long will the appointment be? </label>
  <input type="number" name="appointment_duration" id="appointment_duration" required>

  <button type="submit">Add this Appointment</button>
</form>

<p><a href="/">Back To Main Page</a></p>
