<h2>Add a Stylist</h2>

<form action="/stylist/new" method="post">
<label for="stylist_name">Stylist name: </label>
<input type="text" name="stylist_name" id="stylist_name" required autofocus="" placeholder="Enter name...">
<button type="submit" name="button">Submit</button>
</form>

<a href="/">Back to Home</a>
